# Autoconf stuff
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
*.m4
missing
Makefile
config.h
config.log
config.status
.deps
.libs
stamp-h1
lib*.pc
libtool
*.*~
test-driver
tests/test-suite.log
tests/tests.log
tests/tests.trs
tests/stdtests.log
tests/stdtests.trs

# Compilation fluff
*.o
*.lo
*.la

# Generated docs
doc/doxygen/
doc/*.tag

# Compiled binaries
tests/tests
tests/stdtests